[Unit]
Description=Starts the cloudwatch agent with our config file
Before={{ project_name}}_db_replication.service

[Service]
User=root
ExecStart=/opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -c file:/root/.cloudwatch.json

[Install]
WantedBy=multi-user.target